.nav-bg
  background-color: #333333
  width: 100%
.navigation
  height: 53px
.menu
  &__link
    color: #FFFFFF
    font-style: normal
    font-weight: 300
    font-size: 15px
    padding: 0 40px
    border-right: 2px dotted black
    &:last-child
      border-right: 0
