/* -------------------------------------------------------------------------- */
/*                           section ///[main-info]                           */
/* -------------------------------------------------------------------------- */

.main-info
  min-height: 800px
  background: url(../img/main_bg.jpg) center center / cover no-repeat

.blackout
  width: 100%
  background: rgba(0, 0, 0, 0.6)

.logo
  padding: 0 30px
  &__img
    margin-top: 20px
  &__txt
    margin-top: 5px
    font-style: normal
    font-weight: 100
    font-size: 13px
    color: #FFFFFF
  &__tel
    display: flex
    margin-top: 20px
  &__wrapper
    display: flex
    flex-direction: column
    padding: 0 15px
    font-style: normal
    font-weight: 300
    font-size: 12px
    text-align: right
    color: #FFFFFF
  &__phone
    font-style: normal
    font-weight: 400
    font-size: 22px
    text-align: center
    text-transform: uppercase
    color: #FFFFFF
  &__button
    width: 172px
    height: 46px
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12)
    border-radius: 4px
    font-style: normal
    font-weight: 400
    font-size: 14px
    align-items: center
    text-align: center
    text-transform: uppercase
    color: #FFFFFF
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)

.heading
  margin-top: 60px
  flex-direction: column
  color: #FFFFFF
  &__h1
    font-style: normal
    font-weight: 900
    font-size: 60px
    align-items: center
    text-align: center
    text-transform: uppercase
  &__txt
    margin-top: 16px
    font-style: normal
    font-weight: 400
    font-size: 18px
    align-items: center
    text-align: center
    color: #FFFFFF
  &__txt-add
    font-weight: 400
    font-size: 17px
    align-items: center
    text-align: center
    color: #222222
    margin-bottom: 30px
    &--white
      font-weight: 400
      font-size: 17px
      align-items: center
      text-align: center
      color: #FFFFFF
  &__button
    margin: 25px auto
    width: 259px
    height: 63px
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12)
    border-radius: 4px
    color: #FFFFFF
  &__h2
    font-style: normal
    font-weight: 700
    font-size: 36px
    align-items: center
    text-align: center
    text-transform: uppercase
    color: #FFFFFF
    &--white
      padding: 26px
      font-weight: 700
      font-size: 38px
      line-height: 48px
      align-items: center
      text-align: center
      text-transform: uppercase
      color: #FFFFFF
    &--black
      margin-top: 30px
      text-align: center
      font-weight: 700
      font-size: 38px
      align-items: center
      text-transform: uppercase
      color: #222222

/* -------------------------------------------------------------------------- */
/*                            section ///[reasons]                            */
/* -------------------------------------------------------------------------- */

.reasons-grid
  width: 100%
  display: grid
  grid-gap: 10px
  grid-column-gap: 35px
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr))
  grid-auto-rows: 350px
.label
  &--white
    text-align: center
    width: 115px
    height: 27px
    background: #FFFFFF
    font-weight: 400
    font-size: 11px
    line-height: 27px
    align-items: center
    vertical-align: middle
    text-transform: uppercase
    color: #070716
    margin: 60px auto 0

  &--black
    text-align: center
    width: 115px
    height: 27px
    margin: 60px auto auto
    background: #000000
    font-weight: 400
    font-size: 11px
    line-height: 27px
    align-items: center
    vertical-align: middle
    text-transform: uppercase
    color: #FFFFFF

.circle-wrapper
  // align-self: center
  width: 120px
  height: 120px

.txt-wrapper
  padding-left: 30px

.reasons-item
  display: flex
  margin-top: 50px
  &__circle
    display: flex
    justify-content: center
    align-items: center
    width: 116px
    height: 116px
    background: #1EACC7
    border-radius: 50%
  &__txt-heading
    font-weight: 400
    font-size: 19px
    align-items: center
    color: #1EACC7
  &__txt
    font-weight: 300
    font-size: 16px
    align-items: center
    color: #202020

/* -------------------------------------------------------------------------- */
/*                           section ///[mobile-app]                          */
/* -------------------------------------------------------------------------- */

.mobile-app-grid
  width: 100%
  display: grid
  grid-gap: 6px
  grid-template-columns: repeat(auto-fit, minmax(321px, 1fr))
  grid-auto-rows: 375px

.mobile-app
  min-height: 864px
  background: url(../img/mobile_app.png) center center / cover no-repeat
  padding-top: 10px
  padding-bottom: 40px
  &__item--1
    min-height: 320px
    margin-bottom: 20px
    background: url(../img/mobile_screen_1.jpg) center center / contain no-repeat
  &__item--2
    min-height: 320px
    margin-bottom: 20px
    background: url(../img/mobile_screen_2.jpg) center center / contain no-repeat
  &__item--3
    min-height: 320px
    margin-bottom: 20px
    background: url(../img/mobile_screen_3.jpg) center center / contain no-repeat
  &__item--4
    min-height: 320px
    margin-bottom: 20px
    background: url(../img/mobile_screen_4.jpg) center center / contain no-repeat
  &__item--5
    min-height: 320px
    margin-bottom: 20px
    background: url(../img/mobile_screen_5.jpg) center center / contain no-repeat
  &__item--6
    min-height: 320px
    margin-bottom: 20px
    background: url(../img/mobile_screen_6.jpg) center center / contain no-repeat
  &__item-txt
    padding: 80px 50px
    font-weight: 400
    font-size: 24px
    align-items: center
    text-align: center
    text-transform: uppercase
    color: #FFFFFF
  &__circle-wrapper
    padding-bottom: 40px

  &__circle
    border-radius: 50%
    width: 29px
    height: 29px
    background: #000000

/* -------------------------------------------------------------------------- */
/*                             section ///[choice]                            */
/* -------------------------------------------------------------------------- */

.choice
  position: relative
  &__bg-black
    background-color: #000
    min-height: 502px
  &__bg-img
    background: url(../img/mobile_app.png)
    min-height: 397px
  &__img
    margin-top: 54px
    max-width: 100%
    height: auto
  &__txt
    font-weight: 300
    font-size: 17px
    align-items: center
    text-align: center
    color: #222222

/* -------------------------------------------------------------------------- */
/*                          section ///[requirements]                         */
/* -------------------------------------------------------------------------- */
.requirments-grid
  width: 100%
  display: grid
  grid-gap: 15px
  grid-template-columns: repeat(auto-fit, minmax(551px, 1fr))
  grid-auto-rows: minmax(150px, 1fr)

.requirements
  margin-bottom: 60px
  &__text
    margin-top: 33px
    font-weight: 400
    font-size: 22px
    align-items: center
    color: #1CA8C3
    &--red
      color: #FF5656
      font-weight: 400
      font-size: 22px
      align-items: center
  &__list-txt
    padding-left: 15px
    position: relative
    font-weight: 300
    font-size: 17px
    align-items: center
    line-height: 20px
    color: #222222
    &--red
      padding-left: 15px
      position: relative
      font-weight: 300
      font-size: 17px
      align-items: center
      line-height: 20px
      color: #222222
    &--red::before
      position: relative
      content: url('../img/svg/check_red.svg')
      top: 5px
      left: 0
      padding-right: 10px
  &__list-txt::before
    position: relative
    content: url('../img/svg/check_blue.svg')
    top: 5px
    left: 0
    padding-right: 10px
  &__text-add
    font-weight: 300
    font-size: 17px
    align-items: center
    color: #1CA8C3

/* -------------------------------------------------------------------------- */
/*                             section ///[world]                             */
/* -------------------------------------------------------------------------- */

.world
  min-height: 716px
  background: url(../img/map.jpg) center center / cover no-repeat
  &__item
    height: 100%
    padding-top: 1px
  &__txt
    height: 100%
    font-weight: 400
    font-size: 15px
    align-items: center
    text-align: center
    text-transform: uppercase
    color: #1FBAD6
    margin-top: 400px

/* -------------------------------------------------------------------------- */
/*                             section ///[footer]                            */
/* -------------------------------------------------------------------------- */

.footer
  &__icons
    display: flex
    align-items: center
    min-height: 50px
    padding-left: 25px
  &__nav
    display: flex
    flex-direction: column
    align-items: center
    min-width: 380px
  &__app
    display: flex
    justify-content: flex-end
    align-items: center
    padding-right: 25px
  &__img
    width: 297px
    height: 27px

.footer-grid
  position: relative
  width: 100%
  display: grid
  grid-gap: 15px
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
  grid-auto-rows: minmax(50px, 1fr)

.icon
  display: flex
  justify-content: center
  align-items: center
  width: 35px
  height: 35px
  border-radius: 50%
  background-color: #070716
  margin-right: 5px
  i
    color: white

.nav-strip
  width: 301px
  height: 7px
  background: #1FBAD6
  margin: 15px auto
.nav-row
  p
    display: inline-block
    text-align: center
    font-weight: 300
    font-size: 15px
    align-items: center
    text-transform: uppercase
    color: #070716
    margin: 20px 0 0 0
    padding: 0 15px
  &--small
    p
      display: inline-block
      text-align: center
      font-weight: 300
      font-size: 11px
      align-items: center
      text-transform: uppercase
      color: #999999
      padding: 0 5px
      margin: 0
  &--rus
    font-weight: 400
    font-size: 11px
    align-items: center
    text-align: center
    text-transform: uppercase
    color: #1FBAD6
    margin: 5px 0
