// ≥576px
// ≥768px
// ≥992px
// ≥1200px
// ≥1400px

// =========================================== 1400 =========================================== //

@media (max-width: 1399px)
  .menu
    &__link
      padding: 0 20px
      text-align: center
@media (max-width: 1199px)
  .menu
    &__link
      padding: 0 20px
      text-align: center
@media (max-width: 991px)
  .heading
    margin-top: 20px

  .menu
    &__link
      padding: 0 20px
      text-align: center
  .req-wrapper
    margin-left: 30%


// =========================================== 1200 =========================================== //
@media (max-width: 1199px)
  .requirements
    &__item
      display: flex
      flex-direction: column
      align-content: center
      justify-content: flex-start

  .mt40
      margin-top: -150px
  .req-wrapper
    margin-left: 10%


// =========================================== 768 =========================================== //

@media (max-width: 767px)
  .heading
    margin-top: 20px
    &__h1
      font-size: 40px
    &__button
      margin-top: 20px
  .menu
    &__link
      text-align: center
      padding: 0 10px
  .logo
    flex-direction: column
    justify-content: center
    &__tel
      display: flex
      justify-content: center
      align-items: center
      margin-top: 0
      margin-bottom: 10px
    &__txt
      display: flex
      justify-content: center
      align-items: center
    &__img
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
  .req-wrapper
    margin-left: 0%
  .world
    &__txt
      margin-top: auto

// =========================================== 576 =========================================== //

@media (max-width: 575px)
  .heading
    &__button
      margin: 10px
  .logo
    &__wrapper
      display: none
  .reasons-grid
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
  .req-wrapper
    margin-left: 0%
  .world
    &__txt
      margin-top: auto

