// ≥576px
// ≥768px
// ≥992px
// ≥1200px
// ≥1400px

/* -------------------------------------------------------------------------- */
/*                              section ///[1400]                             */
/* -------------------------------------------------------------------------- */
@media (max-width: 1399px)
  .menu
    &__link
      padding: 0 20px
      text-align: center
  .requirments-grid
    display: block

/* -------------------------------------------------------------------------- */
/*                              section ///[1200]                             */
/* -------------------------------------------------------------------------- */
@media (max-width: 1199px)
  .menu
    &__link
      padding: 0 20px
      text-align: center
  .requirements
    &__item
      display: flex
      flex-direction: column
      align-content: center
      justify-content: flex-start

  .mt40
    margin-top: -150px
  .req-wrapper
    margin-left: 10%
  .footer-grid
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

/* -------------------------------------------------------------------------- */
/*                              section ///[1100]                             */
/* -------------------------------------------------------------------------- */
@media ( max-width: 1100px )

  //absolute container
  .menu-wrapper
    opacity: 1
    position: absolute
    z-index: 99
    top: 0px
    left: 0px

  //burger menu
  .nav-icon
    display: block
    position: relative
    background: #e4e4e4
    width: 30px
    height: 4px
    top: 13px
    cursor: pointer
  .nav-icon:before
    content: ''
    display: block
    position: absolute
    transition: background .3s ease-out
    background: #e4e4e4
    width: 30px
    height: 4px
    top: 7px
  .nav-icon:after
    content: ''
    display: block
    position: absolute
    transition: background .3s ease-out
    background: #e4e4e4
    width: 30px
    height: 4px
    top: -7px

  //label for menu
  .menu-icon
    cursor: pointer

  //pop-up menu
  .menu-btn:checked ~ .menu
    //rendering
    opacity: 1
    background-color: rgba(51, 51, 51, 0.748)
    backdrop-filter: blur(15px)
    transition: 0.5s all
    // text
    flex-direction: column
    justify-content: center
    align-items: center
    height: 50vh
    font-size: 45px
    text-transform: uppercase
    // positioning
    top: 0

  .menu-btn:checked ~ .nav-icon
    width: 100px
    height: 100px
    background-color: #822d2d


  // .menu-btn:checked ~ .nav-icon:before
  //   transform: rotate(45deg)

  // .menu-btn:checked ~ .nav-icon:after
  //   transform: rotate(-45deg)

  //pop-up menu unchecked
  .menu
    opacity: 0
    position: absolute
    top: -100px
    left: 0
    width: 100%
    &__link
      border: 0
      padding: 20px
      font-size: 1.5rem

  .secondary-nav
    background-color: #333333
    height: 53px
    width: 100%

  .footer
    &__icons
      padding-left: 0
    &__app
      padding-right: 0

/* -------------------------------------------------------------------------- */
/*                              section ///[991]                              */
/* -------------------------------------------------------------------------- */
@media (max-width: 991px)
  .heading
    margin-top: 20px
    &__txt
      text-align: justify
  .menu
    &__link
      padding: 0 20px
      text-align: center
  .req-wrapper
    margin-left: 30%
  .reasons-grid
    display: block

/* -------------------------------------------------------------------------- */
/*                              section ///[768]                              */
/* -------------------------------------------------------------------------- */
@media (max-width: 767px)
  .heading
    margin-top: 20px
    &__h1
      font-size: 40px
    &__button
      margin-top: 20px
  .menu
    &__link
      text-align: center
  .logo
    flex-direction: column
    justify-content: center
    &__tel
      display: flex
      justify-content: center
      align-items: center
      margin-top: 0
      margin-bottom: 10px
    &__txt
      display: flex
      justify-content: center
      align-items: center
    &__img
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
  .req-wrapper
    margin-left: 0%
  .world
    &__txt
      margin-top: auto


/* -------------------------------------------------------------------------- */
/*                              section ///[576]                              */
/* -------------------------------------------------------------------------- */
@media (max-width: 575px)
  .logo
    &__wrapper
      display: none
  .reasons-grid
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
  .req-wrapper
    margin-left: 0%
  .reasons-item
    flex-wrap: wrap
    justify-content: center
    &__txt-heading
      text-align: center
    &__txt
      text-align: justify
  .world
    &__txt
      margin-top: auto
